/**
 * Settings applying to all palette schemes.
 */
/*
:root {
  --md-primary-fg-color:        #7D4698;
  --md-primary-fg-color--light: #7D4698;
  --md-primary-fg-color--dark:  #7D4698;
  --md-accent-fg-color:         #DA8EFF;
}
*/

/**
 * Settings for the "default" palette scheme.
 */
[data-md-color-scheme="default"] {
  --md-primary-fg-color:        #7D4698;
  --md-primary-fg-color--light: #7D4698;
  --md-primary-fg-color--dark:  #7D4698;
  --md-accent-fg-color:         #7D4698;
}

/**
 * Settings for the "slate" pallete scheme, used for the "dark mode".
 */
[data-md-color-scheme="slate"] {
  --md-primary-fg-color:        #7D4698;
  --md-primary-fg-color--light: #DA8EFF;
  --md-primary-fg-color--dark:  #DA8EFF;
  --md-accent-fg-color:         #7D4698;
  --md-typeset-a-color:         #DA8EFF;
}

.wy-menu-vertical li a {
  color: #fff!important;
}

.wy-menu-vertical li.current a {
  color: #000!important;
}

.wy-nav-content {
  max-width: 100%;
}

.wy-side-nav-search {
  background-color: inherit;
}
